.b-vote-widget {
	margin-bottom:20px;
	padding: 10px 0;
}
.b-vote-widget h4 {line-height:100%}
.b-vote-widget .answer-list {list-style:none; padding:0; margin:10px 0}
.b-vote-widget .answer-list .answer {padding:4px 0}
.b-vote-widget .answer-list .answer img {
    max-width: 100%;
    width: 192px;
    height: 235px;
}

.b-vote-widget .result-list {width:100%;}
.b-vote-widget .result-list th {text-align:left}
.b-vote-widget .result-list .progress {margin-right:10px}
.b-vote-widget .result-list .percent {white-space:nowrap; vertical-align:top}

.b-candidate-form_label {
	font-size: 1.4em;
	font-family: 'Noto Serif', sans-serif;
	text-align: center;
	margin-bottom: 0.5em;
}

.b-candidate-form_label a:link, .b-candidate-form_label a:visited {
	color: #000;
	text-decoration: underline;
	font-weight: normal;
}

.b-candidate-form_label a:hover {
	text-decoration: none;
}

.b-vote-widget .answer input[type="radio"] {
	display:none;
}

.b-candidate-form_btnVote {
	padding: 10px 0;
	font-family: 'Noto Sans', sans-serif;
	text-align: center;
}
.b-candidate-form_VotesCnt {
	font-size: 1.2em;
	font-family: 'Noto Sans', sans-serif;
	padding: 0.5em 0;
	line-height: 1;
}
.b-candidate-form_VotesCnt_digits {
	font-size: 2em;
	font-family: 'Russo One', sans-serif;
}
.b-candidate-form_btnInfo {
	text-align: center;
	font-family: 'Noto Sans', sans-serif;
}